.dart_tool/
.flutter-plugins*
build/
/build
.tools/
android/local.properties
android/.gradle/
*.iml
.idea/
dist/
20260917_071940.jpg
*.jks
*.keystore
android/key.properties
artifacts/*.log
flutter_*.log
hs_err_pid*.log
android/hs_err_pid*.log
replay_pid*.log
